/.vscode
/node_modules
yarn-error.log*
yarn.lock*
yarn.lock
yarn-error.log

/uploads/*.png
/uploads/*.jpg
/uploads/*.jpeg
/uploads/*.gif
/uploads/*.svg

/uploads/posts/*.png
/uploads/posts/*.jpg
/uploads/posts/*.jpeg
/uploads/posts/*.gif
/uploads/posts/*.svg

/uploads/posts/resized/*.png
/uploads/posts/resized/*.jpg
/uploads/posts/resized/*.jpeg
/uploads/posts/resized/*.gif
/uploads/posts/resized/*.svg
.env
